*.aux
*.log
*.toc
*.pdf
*.dot
*.out
*.fls
*.fdb_latexmk
*.cache

# Makefile
*-a4-dot2tex-fig*.tex
*-c5-dot2tex-fig*.tex

# VIM
*.swp
*.swo
*.doc.tex.swn
*.doc.tex.swm
*.doc.tex.swl

# OS X
*.DS_Store
*._.DS_Store
*.nfs.*

# Tex
_minted-neko-a4/
neko-a4.pyg.lst
neko-a4.pyg.sty

